extends layout

block content
    form(method='post', action='/create_process' enctype="multipart/form-data")
        label(for="projectName") Project Name :
        input(type="text" id="projectName" name="projectName")
        br
        label(for="projectUrl") Project URL :
        input(type="text" id="projectUrl" name="projectUrl")
        br
        label(for="projectExplanation") Project Explanation : 
        textarea(cols="30", rows="10" id="projectExplanation" name="projectExplanation")
        br
        label(for="projectImg") Project Immage Upload
        input(type="file" id="projectImg" name="projectImg")
        input(type="submit")